<!-- <div class="sidebar">
  <app-side-bar></app-side-bar>
</div> -->

<!-- <div class="content">

  <!-- <router-outlet></router-outlet> --
  <app-login></app-login>
</div> -->

<app-login *ngIf="!authService.isAuthenticated"></app-login>
<div>
 

  <div *ngIf="authService.isAuthenticated">
    <div class="content" >
      <router-outlet></router-outlet>
    </div>
    
    <div class="sidebar">
      <app-side-bar [isAuthenticated]=true></app-side-bar>
    </div>
  </div>
</div>




<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
     
      <app-side-bar></app-side-bar>
      
    </div>
    <div class="col-md-9">
      
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid">
  <button
    class="navbar-toggler d-md-none" 
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row">
    <div class="col-md-3">
     
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-md-9">
    
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
